
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: var(--bg-dark);
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--gold);
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: var(--gold);
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--text-light);
}


.reservation-background {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
              url('../images/reservation-bg.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(201, 169, 77, 0.15);
  max-width: 500px;
  width: 90%;
  color: var(--text-light);
}

.reservation-box h1 {
  color: var(--gold);
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.reservation-box label {
  display: block;
  margin-top: 15px;
  color: #ccc;
}

.reservation-box input,
.reservation-box select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  background-color: #111;
  color: #eee;
  border: 1px solid #444;
  border-radius: 8px;
}

.reservation-box button {
  margin-top: 25px;
  padding: 14px;
  background-color: var(--gold);
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.reservation-box button:hover {
  background-color: #b58c3b;
}

.btn {
  padding: 12px 30px;
  background-color: var(--gold);
  color: var(--bg-dark);
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 25px;
}

.btn:hover {
  background-color: #b58c3b;
}

